@charset 'UTF-8';
/*
 * ===========================
 * [Customizer/Additional CSS]
 * ===========================
 */
// =============================================================================
//
// Sassy CSS (SCSS) für die Website der GEST
//
// Hinweis: Zeilenkommentare (//) werden bei der CSS Erzeugung entfernt,
//          Blockkommentare (/* ... */) hingegen werden beibehalten.
//
// Voraussetzung:
//   - Jetpack von WordPress.com [https://de.wordpress.org/plugins/jetpack/]
//     Wird benötigt, damit CSS Präprozessoren verwendet werden können, die
//     Variablen in dieser Datei auflösen.
//   - Jetpack/Einstellungen/Schreiben/CSS-Anpassungsbereich optimieren
//     Dies Einstellung muss aktiviert sein.
//
// Installation:
//   - Design/Customizer auswählen.
//   - Zusätzliches CSS öffnen.
//   - Dieses Skript in das Textfeld kopieren.
//   - Als Präprozessor "Sass (SCSS)" auswählen.
//
// Links:
//   - https://www.htmlcsscolor.com/
//   - https://www.rgbtohex.net/
//   - https://www.sassmeister.com/
//   - https://sass-guidelin.es/de/
//
// =============================================================================

// Import der Schriftarten für font-weight 400 und 600.
// Überschriften/Text: https://fonts.google.com/specimen/Open+Sans
// GEST CI Schriftzug: https://fonts.google.com/specimen/Mitr
@import url('https://fonts.googleapis.com/css?family=Mitr:400,600|Open+Sans:400,400i,600,600i&display=swap');

// -----------------------------------------------------------------------------
//
// GEST CI Farben
//
// Palette erstellt: https://paletton.com/#uid=75B110kw0w0jyC+oRxVy4oIDfjr
// Sonderfarbe: rgb(55, 86, 177); #3756b1 (für das Dach im Logo)
//
// -----------------------------------------------------------------------------

$color-red: rgb(251, 0, 13); // Name: Torch Red, Hex: #FB000D, https://www.htmlcsscolor.com/hex/FB000D
$color-yellow: rgb(255, 174, 0); // Name: Orange, Hex: #FFAE00, https://www.htmlcsscolor.com/hex/FFAE00
$color-blue: rgb(19, 58, 172); // Name: Egyptian Blue, Hex: #133AAC, https://www.htmlcsscolor.com/hex/133AAC
$color-green: rgb(20, 209, 0); // Name: Free Speech Green, Hex: #14D100, https://www.htmlcsscolor.com/hex/14D100
$color-roof: rgb(55, 86, 177); // Name: Cerulean Blue, Hex: #3756B1, https://www.htmlcsscolor.com/hex/3756B1

// -----------------------------------------------------------------------------
//
// Weitere Farben
//
// -----------------------------------------------------------------------------

$color-white: rgb(255, 255, 255); // Name: White, Hex: $neve-ffffff oder $neve-fff, https://www.htmlcsscolor.com/hex/FFFFFF
$color-black: rgb(0, 0, 0); // Name: Black, Hex: $neve-000000 oder #000, https://www.htmlcsscolor.com/hex/000000
$color-gray: rgb(128, 128, 128); // Name: Gray, Hex: #808080, https://www.htmlcsscolor.com/hex/808080

// -----------------------------------------------------------------------------
//
// Farbfunktionen
//
// -----------------------------------------------------------------------------

/// Hellt eine Farbe leicht auf.
/// Verwendung: color: tint(pink, 30%);
/// @access public
/// @param {Color} $color - zu färbende Farbe
/// @param {Number} $percentage - Prozent von `$color` welcher die Farbe wiedergegeben werden soll
/// @return {Color}
@function tint($color, $percentage) {
  @return mix($color-white, $color, $percentage);
}

/// Verdunkelt eine Farbe leicht.
/// Verwendung: color: shade(pink, 30%);
/// @access public
/// @param {Color} $color - zu verdunkelnde Farbe
/// @param {Number} $percentage - Prozent von `$color` welcher die Farbe wiedergegeben werden soll
/// @return {Color}
@function shade($color, $percentage) {
  @return mix($color-black, $color, $percentage);
}

// -----------------------------------------------------------------------------
//
// Neve Farb-Mappings
//
// neve-676767: Ursprünglich von Neve mit Farbwert $neve-676767 belegt.
//
// Die generelle Idee ist, alle Neve Farben abzubilden, und gleiche Farbwerte
// aus Neve in den gleichen CI-Farbwert zu übersetzen. Auf die Weise sollte es
// auch nach einem Update vom Neve einfach sein, ggf. Farbabbildungen
// nachzureichen.
//
// Für neue Farben, sollte man als erstes mit einer Farbe starten, deren
// Lightness-Wert ähnlich dem ursprünglichen ist. Beispielsweise auf diese
// Weise in https://www.sassmeister.com/ berechenbar (tint und shade Funktionen
// vorher ebenfalls hinzufügen):
//
//   $base: rgb(19, 58, 172);
//   $neve: #c9c9c9;
//   $calc: tint($base, 66%)
//   body {
//     color: $calc;
//     lightness-base: lightness($base);
//     lightness-neve: lightness($neve);
//     lightness-calc: lightness($calc);
//   }
//
//
// Achtung: Die shade/tint-Funktion liefert in sassmeister leicht abweichende
//          Ergebnisse im Vergleich zu Jetpack Sass Präprozessor.
// -----------------------------------------------------------------------------

$neve-000000: $color-black; // #000
$neve-0366d6: tint($color-blue, 9%); // #284cb3
$neve-24292e: shade($color-blue, 57%); // #08194a
$neve-292929: shade($color-blue, 56%); // #081a4c
$neve-333: shade($color-blue, 46%); // #0a1f5d
$neve-404248: shade($color-blue, 28%); // #0e2a7c
$neve-676767: tint($color-blue, 5%); // #1f44b0
$neve-8f98a1: tint($color-blue, 36%); // #6881ca
$neve-c9c9c9: tint($color-blue, 66%); // #afbce3
$neve-d0effb: tint($color-blue, 85%); // #dce1f3
$neve-d9dbdd: tint($color-blue, 77%); // #c9d2ec
$neve-dddddd: tint($color-blue, 79%); // #cdd6ee
$neve-ededed: tint($color-blue, 89%); // #e5e9f6
$neve-eee: tint($color-blue, 90%); // #e7ebf7
$neve-f0f0f0: tint($color-blue, 91%); // #eaedf8
$neve-f9f9f9: tint($color-blue, 97%); // #f8f9fd
$neve-fbfbfb: tint($color-blue, 98%); // #fafbfd
$neve-fff: $color-white; // #fff
$neve-ffffff: $color-white; // #fff

/* Verwendet zum Debugging des Farb-Mappings (abhängig von Sass Präprozessor). */
.custom-css-debug-neve {
  color: $neve-000000; /* 000000 */
  color: $neve-0366d6; /* 0366d6 */
  color: $neve-24292e; /* 24292e */
  color: $neve-292929; /* 292929 */
  color: $neve-333; /* 333 */
  color: $neve-404248; /* 404248 */
  color: $neve-676767; /* 676767 */
  color: $neve-8f98a1; /* 8f98a1 */
  color: $neve-c9c9c9; /* c9c9c9 */
  color: $neve-d0effb; /* d0effb */
  color: $neve-d9dbdd; /* d9dbdd */
  color: $neve-dddddd; /* dddddd */
  color: $neve-ededed; /* ededed */
  color: $neve-eee; /* eee */
  color: $neve-f0f0f0; /* f0f0f0 */
  color: $neve-f9f9f9; /* f9f9f9 */
  color: $neve-fbfbfb; /* fbfbfb */
  color: $neve-fff; /* fff */
  color: $neve-ffffff; /* ffffff */
}

// -----------------------------------------------------------------------------
//
// Standard Farben
//
// -----------------------------------------------------------------------------

$color-text: $neve-404248;
$color-heading: $color-black;
$color-logo: $color-black;

// -----------------------------------------------------------------------------
//
// GEST CI Fonts
//
// Palette erstellt: https://paletton.com/#uid=75B110kw0w0jyC+oRxVy4oIDfjr
// Sonderfarbe: rgb(55, 86, 177); #3756b1 (für das Dach im Logo)
//
// -----------------------------------------------------------------------------

// Neve Standard Fonts als Fallback erhalten.
$font-stack-neve: ('Graphik', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', sans-serif);
$font-stack-ci-text: ('Open Sans Regular', 'Open Sans');
$font-stack-ci-heading: ('Open Sans SemiBold', 'Open Sans');
$font-stack-ci-logo: ('Mitr Regular', 'Mitr');

$font-text: append($font-stack-ci-text, $font-stack-neve);
$font-heading: append($font-stack-ci-heading, $font-stack-neve);
$font-logo: append($font-stack-ci-logo, $font-stack-neve);

// Nicht all Font Weights sind in den entsprechenden Fonts verfügbar.
// Hier kann man zentral die entsprechenden Gewichte auf verfügbare
// Werte abbilden.
$font-weight-normal: 400; // Neve:400
$font-weight-medium: 400; // Neve:500
$font-weight-semi-bold: 600; // Neve:600
$font-weight-bold: 600; // Neve:700

@mixin font-text($with-color: true, $font-weight: $font-weight-normal) {
  font-family: $font-text;
  font-weight: $font-weight-normal;
  @if $with-color {
    color: $color-text;
  }
}

@mixin font-heading($with-color: true, $font-weight: $font-weight-semi-bold) {
  font-family: $font-heading;
  font-weight: $font-weight;
  @if $with-color {
    color: $color-heading;
  }
}

@mixin font-logo-text($with-color: true) {
  font-family: $font-logo;
  font-weight: $font-weight-normal;
  @if $with-color {
    color: $color-logo;
  }
}

@mixin font-logo-heading {
  font-family: $font-logo;
  font-weight: $font-weight-semi-bold;
}

// -----------------------------------------------------------------------------
//
// [Neve Overrides]
//
// Theme: https://themeisle.com/themes/neve/
//
// Überschreibt die Standardkonfiguration von Neve, um sie der GEST CI
// anzupassen.
//
// -----------------------------------------------------------------------------

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
// [neve/style.css]
//
// Anpassungen an den Standard-CSS Regeln
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.wp-block-button a, a.button.close-responsive-search, .button, button, input[type=button], .btn, input[type="submit"] {
  font-weight: $font-weight-semi-bold;
}

.wp-block-button.is-style-outline a.wp-block-button__link, a.button.close-responsive-search, .button.button-secondary, #comments input[type=submit] {
  font-weight: $font-weight-semi-bold;
  color: $neve-676767;
}

.button.button-primary, button, input[type=button], .btn, input[type="submit"] {
  background-color: $neve-0366d6;
  color: $neve-fff;
}

.button.button-primary:hover, button:hover, input:hover[type=button], .btn:hover, input:hover[type="submit"] {
  background-color: $neve-0366d6;
  color: $neve-fff;
}

body {
  @include font-text;
  background-color: $neve-fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-heading;
}

a {
  color: $neve-0366d6;
}

a:hover, a:focus {
  color: $neve-0366d6;
}

a.neve-skip-link {
  background-color: $neve-24292e;
  color: $neve-fff;
}

a.neve-skip-link:focus {
  color: $neve-fff;
}

.wp-block-separator {
  background-color: $neve-8f98a1;
}

.nv-top-bar a {
  font-weight: $font-weight-medium;
}

.site-logo h1, .site-logo p {
  @include font-logo-heading;
}

.site-logo small {
  @include font-logo-text;
}

.site-logo a {
  color: $color-logo;
}

.site-logo a:hover {
  color: $color-logo;
}

.primary-menu-ul a {
  color: $color-text;
}

.primary-menu-ul .sub-menu {
  border-left: 1px solid $neve-f0f0f0;
}

.caret {
  color: $neve-676767;
}

.caret-wrap {
  border: 1px solid $neve-c9c9c9;
}

ul[id^="nv-primary-navigation"] .current-menu-item > a {
  color: $neve-0366d6;
}

.menu-item-nav-search.responsive-nav-search .nv-nav-search {
  background-color: $neve-fff;
}

.menu-item-nav-search.responsive-nav-search .nv-nav-search form .nv-search-icon-wrap {
  color: $neve-c9c9c9;
}

.menu-item-nav-search.responsive-nav-search .nv-nav-search form input[type="submit"]:hover {
  background-color: $neve-eee;
}

.nv-nav-search {
  background: $neve-fff;
  border-top: 1px solid $neve-f0f0f0;
}

.nv-nav-wrap .neve-mega-menu .neve-mm-col .sub-menu .sub-menu li {
  border-bottom: 1px solid $neve-f0f0f0 !important;
}

.nv-nav-wrap .neve-mega-menu .neve-mm-heading a, .nv-nav-wrap .neve-mega-menu .neve-mm-heading span {
  font-weight: $font-weight-bold;
}

.nv-nav-wrap .neve-mega-menu .neve-mm-divider {
  background-color: $neve-c9c9c9;
}

footer {
  background-color: $neve-fff;
}

.nv-page-title-wrap.nv-big-title .nv-page-title {
  border-bottom: 1px solid $neve-f0f0f0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
  color: $neve-333;
  border: 1px solid $neve-dddddd;
}

input[type="color"],
select {
  color: $neve-333;
  border: 1px solid $neve-dddddd;
}

.nv-seach-form-wrap {
  border-top: 1px solid $neve-f0f0f0;
}

.search-form .nv-search-icon-wrap, .woocommerce-product-search .nv-search-icon-wrap {
  color: $neve-c9c9c9;
}

.search-form button[type="submit"]:hover, .search-form input[type="submit"]:hover, .woocommerce-product-search button[type="submit"]:hover, .woocommerce-product-search input[type="submit"]:hover {
  background-color: $neve-eee;
}

.nv-meta-list li {
  color: $neve-676767;
}

.nv-meta-list li:not(:last-child):after {
  color: $neve-676767;
}

.nv-meta-list a, .nv-meta-list a:hover {
  color: $neve-676767;
}

.entry-title a {
  color: $color-text;
}

.entry-title a:hover, .entry-title a:focus {
  color: $color-text;
}

.article-content-col .content {
  border-bottom: 1px solid $neve-f0f0f0;
}

.nv-loader {
  border: 2px solid $neve-0366d6;
}

.nv-post-navigation .previous .nav-direction,
.nv-post-navigation .next .nav-direction {
  color: $neve-676767;
}

.nv-tags-list a {
  border: 1px solid $neve-0366d6;
  color: $neve-0366d6;
}

.nv-tags-list a:hover {
  background: $neve-0366d6;
  border-color: $neve-0366d6;
  color: $neve-fff;
}

#comments {
  border-top: 1px solid $neve-f0f0f0;
}

.nv-comment-article {
  border-bottom: 1px solid $neve-f0f0f0;
}

.comment-author .author {
  font-weight: $font-weight-bold;
}

.pingback {
  border-bottom: 1px solid $neve-f0f0f0;
}

blockquote cite {
  color: $neve-676767;
}

blockquote:after, blockquote:before {
  background-color: $neve-c9c9c9;
}

table td, table th {
  border-bottom: 1px solid $neve-f0f0f0;
}

p code {
  background: $neve-d0effb;
  border: 1px solid $neve-f0f0f0;
}

pre {
  background: $neve-fbfbfb;
  border: 1px solid $neve-f0f0f0;
}

.nv-content-wrap dt, .excerpt-wrap dt {
  font-weight: $font-weight-semi-bold;
}

.wp-caption-text {
  font-weight: $font-weight-medium;
}

hr {
  border-top: 1px solid $neve-f0f0f0;
}

.widget p.widget-title {
  font-weight: $font-weight-semi-bold;
}

.widget ul ul {
  border-left: 1px solid $neve-f0f0f0;
}

.neve-breadcrumbs-wrapper a {
  color: $neve-676767;
}

@media (min-width: 576px) {
}

@media (min-width: 769px) {
}

@media (min-width: 960px) {
  .row .primary-menu-ul li:hover > a, .row .primary-menu-ul li:focus > a {
    color: $neve-0366d6;
  }
  .row .primary-menu-ul li:hover > a .caret, .row .primary-menu-ul li:focus > a .caret {
    color: $neve-0366d6;
  }
  .row .primary-menu-ul .sub-menu {
    background: $neve-fff;
    border-top: 1px solid $neve-f0f0f0;
  }
  .row .primary-menu-ul .sub-menu li {
    background-color: $neve-fff;
    border: 1px solid $neve-f0f0f0;
  }
  .row .caret-wrap.dropdown-open .caret {
    color: $color-text;
  }
  .nv-sidebar-wrap.nv-right {
    border-left: 1px solid $neve-f0f0f0;
  }
  .nv-sidebar-wrap.nv-left {
    border-right: 1px solid $neve-f0f0f0;
  }
  .nv-nav-wrap .primary-menu-ul:not(#nv-primary-navigation-sidebar) .neve-mega-menu .neve-mm-col:not(:last-child) {
    border-right: 1px solid $neve-f0f0f0;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 960px) {
}

.header-top-inner.light-mode {
  background-color: $neve-f0f0f0;
}

.light-mode {
  background-color: $neve-fff;
  color: $color-text;
}

.light-mode a:not(.button) {
  color: $color-text;
}

.header--row-inner.dark-mode, .header--row-inner.dark-mode .sub-menu, .header--row-inner.dark-mode .sub-menu li {
  border-color: $neve-333;
  background-color: $neve-24292e;
  color: $neve-fff;
}

.header--row-inner.dark-mode a:not(.button) {
  color: $neve-fff;
}

.dark-mode .menu-item-nav-search, .dark-mode .menu-item-nav-cart > a {
  color: $neve-fff;
}

.header-menu-sidebar .menu-item-nav-search.responsive-nav-search .nv-nav-search form input:not([type="submit"]) {
  background-color: $neve-fff;
}

@media (max-width: 960px) {
}

.footer-top .light-mode {
  background: $neve-fff;
}

.footer-top .dark-mode {
  background: $neve-292929;
}

.footer-main .light-mode {
  background: $neve-f9f9f9;
}

.footer-main .dark-mode {
  background: $neve-24292e;
}

.footer-bottom .light-mode {
  background: $neve-ededed;
}

.footer-bottom .dark-mode {
  background: $neve-24292e;
}

.footer--row-inner.light-mode {
  color: $color-text;
}

#secondary-menu li a {
  font-weight: $font-weight-medium;
}

@media (min-width: 960px) {
  .style-border-top ul > li:not(.menu-item-nav-search):not(.menu-item-nav-cart) > a:after, .style-border-bottom ul > li:not(.menu-item-nav-search):not(.menu-item-nav-cart) > a:after, .style-full-height ul > li:not(.menu-item-nav-search):not(.menu-item-nav-cart) > a:after {
    background-color: $neve-0366d6;
  }
}

.light-mode .icon-bar {
  background: $neve-404248;
}

.dark-mode .icon-bar {
  background: $neve-fff;
}

.light-mode .navbar-toggle {
  color: $color-text;
}

.builder-item div[class*="builder-item--header_search"] input[type="search"] {
  background-color: $neve-fff;
}

// Desktop
@media (min-width: 960px) {
}

// Tablet
@media (max-width: 959px) {
}

// Mobile
@media (max-width: 576px) {
  // GEST-Logo: Ausgeschriebenen Namen unterdrücken (Platz einsparen)
  .site-logo small {
    display: none;
  }
  
  // GEST-Logo: Keine Mindestbreite mehr notwendig, da Text kürzer.
  .site-logo .nv-title-tagline-wrap {
    min-width: inherit;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
// [/neve/style.css]
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
// [neve/inline css]
//
// Anpassungen der Inline CSS Regeln.
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@media (max-width: 576px) {
  .builder-item--logo .site-logo {
    padding-right: 50px !important;
  }
}

@media (min-width: 576px) {
  .builder-item--logo .site-logo {
    padding-right: 50px !important;
  }
}

@media (min-width: 961px) {
  .builder-item--logo .site-logo {
    padding-right: 50px !important;
  }
}

body, .site-title {
  font-family: $font-text !important;
}

h1, .single h1.entry-title, h2, h3, h4, h5, h6 {
  font-family: $font-heading !important;
}

.has-white-background-color {
  background-color: $neve-ffffff !important;
}

.has-white-color {
  color: $neve-ffffff !important;
}

.has-black-background-color {
  background-color: $neve-000000 !important;
}

.has-black-color {
  color: $neve-000000 !important;
}

.has-neve-button-color-background-color {
  background-color: $neve-0366d6 !important;
}

.has-neve-button-color-color {
  color: $neve-0366d6 !important;
}

.has-neve-link-color-background-color {
  background-color: $neve-0366d6 !important;
}

.has-neve-link-color-color {
  color: $neve-0366d6 !important;
}

.has-neve-link-hover-color-background-color {
  background-color: $neve-0366d6 !important;
}

.has-neve-link-hover-color-color {
  color: $neve-0366d6 !important;
}

.has-neve-text-color-background-color {
  background-color: $neve-404248 !important;
}

.has-neve-text-color-color {
  color: $neve-404248 !important;
}

.nv-tags-list a {
  color: $neve-0366d6;
}

.nv-tags-list a {
  border-color: $neve-0366d6;
}

.button.button-primary, button, input[type=button], .btn, input[type="submit"],
ul[id^="nv-primary-navigation"] li.button.button-primary>a, .menu li.button.button-primary>a {
  background-color: $neve-0366d6;
}

.button.button-primary, button, input[type=button], .btn, input[type="submit"],
ul[id^="nv-primary-navigation"] li.button.button-primary>a, .menu li.button.button-primary>a {
  color: $neve-ffffff;
}

.nv-tags-list a:hover {
  border-color: $neve-0366d6;
}

.button.button-primary:hover, .nv-tags-list a:hover, ul[id^="nv-primary-navigation"] li.button.button-primary>a:hover, .menu li.button.button-primary>a:hover {
  background-color: $neve-0366d6;
}

.button.button-primary:hover, .nv-tags-list a:hover, ul[id^="nv-primary-navigation"] li.button.button-primary>a:hover, .menu li.button.button-primary>a:hover {
  color: $neve-ffffff;
}

.button.button-secondary, #comments input[type="submit"] {
  color: $neve-676767;
}

.button.button-secondary, #comments input[type="submit"] {
  border-color: $neve-676767;
}

.button.button-secondary:hover, #comments input[type="submit"]:hover {
  color: $neve-676767;
}

.button.button-secondary:hover, #comments input[type="submit"]:hover {
  border-color: $neve-676767;
}

.hfg_header .header-top-inner, .hfg_header .header-top-inner.dark-mode, .hfg_header .header-top-inner.light-mode {
  background-color: $neve-ffffff;
}

.builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:not(.woocommerce-mini-cart-item)>a, .builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li>a .caret-wrap .caret {
  color: $neve-404248;
}

.builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:not(.woocommerce-mini-cart-item)>a:after {
  background-color: $neve-0366d6;
}

.builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:not(.woocommerce-mini-cart-item):hover>a, .builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:hover>a>.caret-wrap .caret {
  color: $neve-0366d6;
}

.builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li.current-menu-item a, .builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li.current-menu-item a .caret-wrap .caret {
  color: $neve-0366d6;
}

.builder-item--primary-menu li>a {
  font-weight: $font-weight-medium;
}

.builder-item--custom_html {
  font-weight: $font-weight-medium;
}

.nav-menu-secondary:not(.style-full-height) #secondary-menu li:hover>a {
  color: $neve-0366d6;
}

#secondary-menu a:after {
  background-color: $neve-0366d6;
}

.builder-item--secondary-menu #secondary-menu li>a {
  font-weight: $font-weight-semi-bold;
}

.nav-menu-footer #footer-menu>li>a {
  color: $neve-ffffff;
}

.nav-menu-footer:not(.style-full-height) #footer-menu>li:hover>a {
  color: $neve-d9dbdd;
}

#footer-menu>li>a:after {
  background-color: $neve-d9dbdd;
}

.builder-item--footer-menu li>a {
  font-weight: $font-weight-semi-bold;
}

.builder-item--footer_copyright {
  font-weight: $font-weight-medium;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
// [/neve/inline css]
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
// Weitere Anpassungen.
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Grauverlauf im Hintergrund
body {
  background: rgb(237,237,237); // Old browsers
  background: -moz-linear-gradient(45deg,  rgb(237, 237, 237) 0%, rgb(252, 252, 252) 100%); // FF3.6-15
  background: -webkit-linear-gradient(45deg,  rgb(237, 237, 237) 0%,rgb(252, 252, 252) 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(45deg,  rgb(237, 237, 237) 0%,rgb(252, 252, 252) 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fcfcfc',GradientType=1 ); // IE6-9 fallback on horizontal gradient
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nv-navbar {
  margin-bottom: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.nv-navbar .light-mode {
  background-color: rgb(237,237,237); // Old browsers
  background-color: -moz-linear-gradient(45deg,  rgb(237, 237, 237) 0%, rgb(252, 252, 252) 100%); // FF3.6-15
  background-color: -webkit-linear-gradient(45deg,  rgb(237, 237, 237) 0%,rgb(252, 252, 252) 100%); // Chrome10-25,Safari5.1-6
  background-color: linear-gradient(45deg,  rgb(237, 237, 237) 0%,rgb(252, 252, 252) 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fcfcfc',GradientType=1 ); // IE6-9 fallback on horizontal gradient
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Posts Übersicht ein wenig hervorheben.
.wp-block-themeisle-blocks-posts-grid {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

// GEST-Logo: Die Schriftfarbe muss hart überschrieben werden.
a.brand {
  color: $color-black !important;
}

// Anpassung des Schattens bei der Posts-Übersicht
.wp-block-themeisle-blocks-posts-grid .posts-grid-post-blog .posts-grid-post .posts-grid-post-image img {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}

// Bild in Postings zentrieren.
.nv-thumb-wrap img {
  margin-left: auto;
  margin-right: auto;
}

// GEST-Logo: Umbrüche reduzieren, indem eine Mindestbreite zur Verfügung gestellt wird.
.site-logo .nv-title-tagline-wrap {
  min-width: 230px;
}

// Header-Menü: Workaround für abgeschnittene Unterstreichung auf der linken Seite (Hover-Effekt).
#secondary-menu li:first-child a {
  padding-left:10px;
}

// Header-Menü: Workaround für abgeschnittene Unterstreichung auf der rechten Seite. (Hover-Effekt)
#secondary-menu li:last-child a {
  padding-right:10px;
}

// Menü auf die Unterkante des Logos bringen.
.site-header div.hfg-item-left {
  margin-top: auto;
}

// Abkürzungen und Akronyme hervorheben, damit man weiß, dass man ggf. einen Tooltip beim Hover erhält.
abbr, acronym {
  background-color: tint($color-yellow, 80%);
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}

// -----------------------------------------------------------------------------
//
// [/Neve Overrides]
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
// [GTranslate Overrides]
//
// Plugin: https://de.wordpress.org/plugins/gtranslate/
//
// -----------------------------------------------------------------------------

div.widget_gtranslate {
  // Verhindert ein Umbrechen zwischen Flaggen und Dropdown-Box.
  white-space: nowrap;
  // Bei Verwendung im Footer (dunkelblauer Hintergrund), muss die Schriftfarbe
  // einen ausreichenden Kontrast aufweisen.
  color: $color-white;
}

div.widget_gtranslate select {
  // Bei Verwendung im Footer (dunkelblauer Hintergrund), muss die Schriftfarbe
  // einen ausreichenden Kontrast aufweisen.
  color: $color-white;
  // Aufhellen des Hintergrunds innerhalb des Dropdown-Feldes.
  background: rgba(255, 255, 255, 0.2);
  // Insbesondere auf Mobile darf die Select-Box nicht zu groß werden. Als
  // erster Ansatz reicht fit-content aus.
  max-width: fit-content;
}

// Innerhalb des Dropdowns selber (weißer Hintergrund) muss die Schriftfarbe
// wieder Schwarz sein.
div.widget_gtranslate select option {
  color: $color-black;
}

// -----------------------------------------------------------------------------
//
// [/GTranslate Overrides]
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
// [WordPress Admin Bar Overrides]
//
// -----------------------------------------------------------------------------

@media (max-width: 600px) {
  // Admin Bar Icons in der mobilen Ansicht auf das nötigste reduzieren.
  // Da Plugins u. U. Elemente hinzufügen, wird hier eine Whitelist
  // verwendet.
  #wpadminbar li[id*="wp-admin-bar"] {
    display: none !important;
  }

  #wpadminbar {
    position: absolute;
    top: 0px;
    max-width: fit-content;
    min-width: 46px !important;
  }

  #wpadminbar #wp-admin-bar-edit {
    display: initial !important;
  }

  // Entfernen des eigenartigen Margins bei kleinen Bildschirmen.
  html, body {
    margin-top: 0px !important;
  }
}

// -----------------------------------------------------------------------------
//
// [/WordPress Admin Bar Overrides]
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
// [One Click Accessibility Overrides]
//
// Plugin: https://de.wordpress.org/plugins/pojo-accessibility/
//
// -----------------------------------------------------------------------------

#pojo-a11y-toolbar .pojo-a11y-toolbar-toggle {
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a {
  background-color: $color-blue !important;
  color: $color-white !important;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay, #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items.pojo-a11y-links {
  border-color: $color-blue !important;
}

body.pojo-a11y-focusable a:focus {
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-color: $color-red !important;
}

#pojo-a11y-toolbar {
  top: 46px !important;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay {
  background-color: $color-white !important;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a, #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay p.pojo-a11y-toolbar-title {
  color: $color-black !important;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a.active {
  background-color: shade($color-blue, 10%);
  color: $color-white !important;
}

@media (max-width: 767px) {
  #pojo-a11y-toolbar {
    top: 46px !important;
  }
}

// -----------------------------------------------------------------------------
//
// [/One Click Accessibility Overrides]
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
// [GDPR Cookie Consent Overrides]
//
// Plugin: https://de.wordpress.org/plugins/cookie-law-info/
//
// -----------------------------------------------------------------------------

#cookie-law-info-bar {
  // Lasse den Hintergrund durchscheinen, da die Leiste ggf. die untere
  // Navigationsleiste (und Sprachauswahl) verdeckt. Somit haben Nutzer
  // einen Hinweis darauf, dass sie den Dialog wegklicken sollten.
  background-color: rgba(255, 255, 255, 0.8) !important;
	font-weight:$font-weight-normal;
}

#cookie-law-info-again {
  // Hinter das Footer-Menü legen, damit dies stets sichtbar ist.
  z-index: 9;
  // Schatten ähnlich zu anderen bereits vorhandenen Schatten.
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.8);
}

//
// Weitere Anpassungen
//

.cli_settings_button {
  color: shade($color-green, 10%) !important;
  text-decoration-color: shade($color-green, 20%) !important;
}

.cli-plugin-main-button {
  color: $color-white !important;
  background-color: shade($color-green, 40%) !important;
}

.cli-plugin-main-button:active, .cli-plugin-main-button:hover {
  background-color: shade($color-green, 20%) !important;
}

.cli-tab-header {
  background-color:tint($color-green, 91%) !important;
}

// -----------------------------------------------------------------------------
//
// [/GDPR Cookie Consent Overrides]
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
// [The Events Calendar Overrides]
//
// Plugin: https://de.wordpress.org/plugins/the-events-calendar/
//
// -----------------------------------------------------------------------------

$tribe-000: shade($color-blue, 100%);
$tribe-333: shade($color-blue, 46%);
$tribe-444: shade($color-blue, 31%);
$tribe-5f5f5f: shade($color-blue, 0%);
$tribe-666: tint($color-blue, 4%);
$tribe-727272: tint($color-blue, 12%);
$tribe-999: tint($color-blue, 37%);
$tribe-b9b9b9: tint($color-blue, 56%);
$tribe-bbb: tint($color-blue, 58%);
$tribe-cacaca: tint($color-blue, 67%);
$tribe-ccc: tint($color-blue, 69%);
$tribe-dadada: tint($color-blue, 77%);
$tribe-ddd: tint($color-blue, 79%);
$tribe-e0e0e0: tint($color-blue, 80%);
$tribe-e7e7e7: tint($color-blue, 85%);
$tribe-ededed: tint($color-blue, 86%);
$tribe-eee: tint($color-blue, 90%);
$tribe-f0f0f0: tint($color-blue, 91%);
$tribe-f5f5f5: tint($color-blue, 94%);
$tribe-f9f9f9: tint($color-blue, 96%);
$tribe-fafafa: tint($color-blue, 98%);
$tribe-fff: tint($color-blue, 100%);

$tribe-a00: shade($color-red, 32%);

$tribe-114b7d: shade($color-green, 32%);
$tribe-0f81bb: shade($color-green, 3%);
$tribe-009fd4: tint($color-green, 1%);
$tribe-0ea0d7: tint($color-green, 6%);
$tribe-3a87ad: tint($color-green, 8%);
$tribe-bce8f1: tint($color-green, 74%);
$tribe-d9edf7: tint($color-green, 85%);
$tribe-blue-transparent: transparentize(tint($color-green, 47%), 1);

.tribe-events-event-cost span {
  border: 1px solid $tribe-ddd;
  font-weight: $font-weight-bold;
}

.tribe-events-event-cost .tribe-tickets-left {
  background: $tribe-f0f0f0;
  color: $tribe-727272;
  font-weight: $font-weight-normal;
}

.tribe-events-event-cost .tribe-out-of-stock {
  background: $tribe-f0f0f0;
  color: $tribe-727272;
  font-weight: $font-weight-normal;
}

input.tribe-button.sold-out, button.tribe-button.sold-out, a.tribe-button.sold-out, .tribe-button.sold-out {
  color: $tribe-a00;
}

.tribe-events-button, #tribe-events .tribe-events-button {
  background-color: $tribe-666;
  color: $tribe-fff;
  font-weight: $font-weight-bold;
}

.tribe-events-button.tribe-active {
  background-color: $tribe-666;
  color: $tribe-fff;
}

.tribe-events-button.tribe-inactive, .tribe-events-button:hover, #tribe-events .tribe-events-button:hover, .tribe-events-button.tribe-active:hover {
  background-color: $tribe-ddd;
  color: $tribe-444;
}

a.tribe-events-ical, a.tribe-events-gcal {
  color: $tribe-fff;
  font-weight: $font-weight-normal;
}

.tribe-events-schedule h2 {
  font-weight: $font-weight-bold;
}

.tribe-events-notices {
  background: $tribe-d9edf7;
  border: 1px solid $tribe-bce8f1;
  color: $tribe-3a87ad;
}

#tribe-events-content p.tribe-events-promo {
  color: $tribe-999;
}

#tribe-events-content p.tribe-events-promo a {
  color: $tribe-666;
}

.tribe-events-multi-event-day {
  color: $tribe-0f81bb;
}

.tribe-events-page-title {
  font-weight: $font-weight-normal;
}

.tribe-events-page-title a {
  color: $tribe-000;
}

.tribe-events-page-title a:hover, .tribe-events-page-title a:focus {
  color: $tribe-333;
}

.tribe-events-ajax-loading {
  background: $tribe-666;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured {
  background: $tribe-0ea0d7;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title a {
  color: $tribe-fff;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-meta {
  font-weight: $font-weight-normal;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost span {
  color: $tribe-fff;
  font-weight: $font-weight-bold;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost .tribe-tickets-left {
  font-weight: $font-weight-normal;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost .tribe-out-of-stock {
  background: $tribe-f0f0f0;
  color: $tribe-727272;
  font-weight: $font-weight-normal;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost .tribe-button {
  color: $tribe-000;
  font-weight: $font-weight-bold;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost .tribe-button:hover {
  color: $tribe-0ea0d7;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost .tribe-button:active {
  color: $tribe-000;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-button {
  background: $tribe-fff;
  color: $tribe-0ea0d7;
}

.tribe-events-list .type-tribe_events {
  border-bottom: 1px solid $tribe-ddd;
}

.tribe-events-list-separator-year {
  color: $tribe-ccc;
  font-weight: $font-weight-bold;
}

.tribe-events-list-separator-month {
  background-color: $tribe-eee;
  font-weight: $font-weight-bold;
}

.tribe-events-loop .tribe-events-event-meta {
  font-weight: $font-weight-bold;
}

.tribe-events-event-meta-desc, .tribe-events-event-day {
  color: $tribe-333;
}

.single-tribe_events .tribe-events-single-event-recurrence-description>a {
  color: $tribe-009fd4;
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-weight: $font-weight-bold;
}

.single-tribe_events .tribe-events-event-meta {
  background: $tribe-fafafa;
  border: 1px solid $tribe-eee;
}

.single-tribe_events .tribe-events-venue-map {
  background: $tribe-eee;
  border: 1px solid $tribe-ddd;
}

.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
  font-weight: $font-weight-bold;
}

.tribe-events-day .tribe-events-day-time-slot .tribe-events-day-time-slot-heading {
  background: shade($tribe-e0e0e0, 50%);
  color: $tribe-fff;
}

.tribe-events-day .tribe-events-day-time-slot .tribe-events-day-time-slot-heading {
  background-color: shade($tribe-eee, 50%);
  font-weight: $font-weight-bold;
}

.tribe-events-day .tribe-event-featured .tribe-events-list-event-title a {
  color: $tribe-fff;
}

.tribe-events-day .tribe-event-featured .tribe-events-event-meta {
  font-weight: $font-weight-normal;
}

.tribe-events-day .tribe-event-featured .tribe-events-event-cost span {
  color: $tribe-fff;
  background: rgba( 255, 255, 255, 0.1);
  font-weight: $font-weight-bold;
}

.tribe-events-day .tribe-event-featured .tribe-events-event-cost .tribe-tickets-left {
  font-weight: $font-weight-normal;
}

.tribe-events-day .tribe-event-featured .tribe-events-event-cost .tribe-out-of-stock {
  background: $tribe-f0f0f0;
  color: $tribe-727272;
  font-weight: $font-weight-normal;
}

.tribe-events-day .tribe-event-featured .tribe-events-event-cost .tribe-button {
  color: $tribe-000;
  font-weight: $font-weight-bold;
}

.tribe-events-day .tribe-event-featured .tribe-events-event-cost .tribe-button:hover {
  color: $tribe-0ea0d7;
}

.tribe-events-day .tribe-event-featured .tribe-events-event-cost .tribe-button:active {
  color: $tribe-000;
}

.tribe-events-day .tribe-event-featured .tribe-button {
  background: $tribe-fff;
  color: $tribe-0ea0d7;
}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
  background: $tribe-0ea0d7;
}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured .tribe-events-month-event-title a {
  color: $tribe-fff;
}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured .tribe-events-month-event-title a:active, #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured .tribe-events-month-event-title a:hover {
  color: $tribe-eee;
}

#tribe-events-content table.tribe-events-calendar, #tribe-events-content .tribe-events-calendar td {
  border: 1px solid $tribe-bbb;
}

#tribe-events-content .tribe-events-calendar td {
  color: $tribe-114b7d;
}

.tribe-events-calendar div[id*='tribe-events-daynum-'], .tribe-events-calendar div[id*='tribe-events-daynum-'] a {
  background-color: $tribe-f5f5f5;
  color: shade($tribe-333, 20%);
  font-weight: $font-weight-bold;
}

.tribe-events-calendar td.tribe-events-present div[id*='tribe-events-daynum-'], .tribe-events-calendar td.tribe-events-present div[id*='tribe-events-daynum-']>a {
  background-color: $tribe-666;
  color: $tribe-fff;
}

.tribe-events-calendar td.tribe-events-past div[id*='tribe-events-daynum-'], .tribe-events-calendar td.tribe-events-past div[id*='tribe-events-daynum-']>a {
  color: $tribe-999;
}

.tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip, .tribe-events-shortcode.view-week .tribe-events-tooltip, .recurring-info-tooltip {
  background-color: $tribe-f9f9f9;
  border: 1px solid $tribe-666;
  color: $tribe-333;
}

.tribe-events-tooltip.tribe-events-tooltip-flipdown:before {
  border-bottom-color: $tribe-666;
}

.event-is-recurring {
  font-weight: $font-weight-medium;
}

.event-is-recurring:hover {
  color: $tribe-000;
}

.tribe-event-featured .event-is-recurring:hover {
  color: $tribe-fff;
}

.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
  border-bottom: 1px solid $tribe-e7e7e7;
}

.tribe-events-viewmore {
  border-top: 1px solid $tribe-e7e7e7;
  font-weight: $font-weight-bold;
}

.tribe-events-calendar th {
  background-color: $tribe-ddd;
  color: $tribe-333;
}

#tribe-events-content .tribe-events-calendar div[id*='tribe-events-event-'] h3.tribe-events-month-event-title {
  font-weight: $font-weight-normal;
}

#tribe-events-content .tribe-events-tooltip h4 {
  background-color: $tribe-666;
  color: $tribe-fff;
  font-weight: $font-weight-normal;
}

.tribe-events-tooltip .tribe-events-event-body {
  font-weight: $font-weight-normal;
}

.tribe-events-list-widget .duration {
  font-weight: $font-weight-bold;
}

.tribe-events-list-widget .tribe-event-featured {
  background: $tribe-0ea0d7;
}

.tribe-events-list-widget .tribe-event-featured .tribe-event-title a {
  color: $tribe-fff;
}

.tribe-events-list-widget .tribe-event-featured .tribe-event-duration {
  color: $tribe-fff;
}

.datepicker td {
  border-top: 1px solid $tribe-ededed;
}

.datepicker table tr td.active.active, .datepicker table tr td span.active.active {
  background: $tribe-666;
}

.datepicker table tr td.active.active:hover, .datepicker table tr td span.active.active:hover {
  background: $tribe-dadada;
}

#tribe-bar-form {
  background: tint($tribe-f5f5f5, 30%);
}

#tribe-bar-form input[type='text'] {
  border-bottom: 1px dashed $tribe-b9b9b9;
  font-weight: $font-weight-normal;
}

#tribe-bar-form input[type='text']:focus {
  outline: 1px dashed $tribe-b9b9b9;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
  background: $tribe-666;
  color: $tribe-fff;
}

#tribe-bar-form label {
  font-weight: $font-weight-bold;
}

input[name*='tribe-bar-']::-webkit-input-placeholder {
  color: $tribe-5f5f5f;
  font-weight: $font-weight-normal;
}

input[name*='tribe-bar-']:-moz-placeholder {
  color: $tribe-5f5f5f;
  font-weight: $font-weight-normal;
}

.tribe-event-placeholder {
  color: $tribe-5f5f5f;
  font-weight: $font-weight-normal;
}

#tribe-bar-dates .select2-choice {
  border-bottom: 1px dashed $tribe-b9b9b9;
}

.tribe-bar-submit input[type=submit]:hover {
  background: $tribe-999;
  color: $tribe-fff;
}

.tribe-bar-views-inner {
  background: $tribe-e0e0e0;
}

#tribe-bar-views-toggle {
  color: $tribe-333;
  font-weight: $font-weight-normal;
}

#tribe-bar-views-toggle:hover, #tribe-bar-views-toggle:focus {
  background: $tribe-cacaca;
}

#tribe-bar-views-toggle:after {
  border-color: $tribe-blue-transparent;
  border-top-color: inherit;
}

#tribe-bar-views .tribe-bar-views-list {
  background: $tribe-e0e0e0;
}

#tribe-bar-views .tribe-bar-views-option {
  color: $tribe-444;
}

#tribe-bar-views .tribe-bar-views-option:hover {
  background: $tribe-cacaca;
}

#tribe-bar-views .tribe-bar-views-option.tribe-bar-active {
  background: $tribe-cacaca;
}

#tribe-bar-collapse-toggle {
  background: $tribe-f5f5f5;
  color: $tribe-333;
  font-weight: $font-weight-bold;
}

#tribe-bar-collapse-toggle:focus, #tribe-bar-collapse-toggle:hover {
  color: $tribe-fff;
  background: $tribe-666;
}

#tribe-bar-collapse-toggle span.tribe-bar-toggle-arrow::after {
  border-color: $tribe-blue-transparent;
  border-top-color: inherit;
}

#tribe-bar-form.tribe-bar-collapse .tribe-bar-filters {
  background: $tribe-f5f5f5;
}

.tribe-events-calendar thead th {
  background-color: $tribe-666;
  color: $tribe-fff;
  font-weight: $font-weight-bold;
  border-left: 1px solid $tribe-666;
  border-right: 1px solid $tribe-666;
}

#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth {
  background: $tribe-f9f9f9;
}

#tribe-events-content .tribe-events-calendar td.tribe-events-thismonth {
  background: $color-white;
}

// -----------------------------------------------------------------------------
//
// [/The Events Calendar Overrides]
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
// [Print View]
//
// -----------------------------------------------------------------------------

@mixin reset {
  background: initial !important;
  color: initial !important;
  height: initial !important;
  width: initial !important;
  border: initial !important;
  overflow: initial !important;
  box-shadow: initial !important;
  max-height: initial !important;
  max-width: initial !important;
}

@media print {
  .nv-navbar, #pojo-a11y-toolbar, #site-footer, #cookie-law-info-bar, #cookie-law-info-again {
    display: none !important;
  }
  html, body, div {
    @include reset;
  }
}

// -----------------------------------------------------------------------------
//
// [/Print View]
//
// -----------------------------------------------------------------------------

/*
 * ===========================
 * [/Customizer/Additional CSS]
 * ===========================
 */
