@charset "UTF-8";

/* ----------------------------------------------------------[+ print.scss +] */
/*
 * Generelle Anpassungen für die Druckausgabe.
 */
/*noinspection CssUnknownProperty*/
@media print {
  //noinspection CssUnknownProperty
  * {
    float: none !important;
    max-width: 100% !important;
    // https://www.bennadel.com/blog/851-fixing-divs-that-cause-content-truncation-when-printing.htm
    overflow: visible !important;
    // https://www.lockedownseo.com/chrome-print-preview-differs-from-dev-tools/
    transition: none !important;
  }

  body,
  a {
    color: #000 !important;
  }

  body {
    background: #fff;
  }

  // Keine Reduzierung der Font-Größe für Print-Ausgabe: Das führt zumindest
  // in Chrome teilweise dazu, dass Zeichen am Ende der Seite abgeschnitten
  // und die untere Hälfte auf der anderen Seite gedruckt werden.
  // body {
  //   font-size: 11pt;
  // }

  a {
    text-decoration: none !important;
  }

  #site-footer {
    font-size: 8pt;

    // Zusatztext für den Ausdruck am Ende der Seite.
    // https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/
    a[href='/']::after {
      content: ' (gest-hamburg.de)';
      white-space: nowrap;
    }
  }

  // Link-Ziele im Ausdruck mit angeben.
  // https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/
  // Ausgenommen:
  //   - Interne Links der GEST
  //   - Links mit Anchor (evtl. zu lang, Anchor irrelevant)
  //   - Links mit Argumenten (evtl. zu lang)
  a[href^='http']:not([href*='gest-hamburg']):not([href*='#']):not([href*='?'])::after {
    content: ' (' attr(href) ')';
    white-space: nowrap;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

}

/* ----------------------------------------------------------[- print.scss -] */
