@charset "UTF-8";

/* ----------------------------------------------------------[+ print.scss +] */
/*
 * Generelle Anpassungen für die Druckausgabe.
 */
/*noinspection CssUnknownProperty*/
@media print {
  // https://www.lockedownseo.com/chrome-print-preview-differs-from-dev-tools/
  //noinspection CssUnknownProperty
  * {
    transition: none !important;
  }

  body,
  a {
    color: #000 !important;
  }

  a {
    text-decoration: none !important;
  }

  // Zusatztext für den Ausdruck am Ende der Seite.
  // https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/
  #site-footer::after {
    content: 'Aktuelle Informationen erhalten Sie auf www.gest-hamburg.de.';
  }

  // Link-Ziele im Ausdruck mit angeben.
  // https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/
  a[href^='http']:not([href*='gest-hamburg'])::after {
    content: ' (' attr(href) ')';
  }
}

/* ----------------------------------------------------------[- print.scss -] */
