@charset "UTF-8";

@import '../base/colors';
@import 'src/scss/base/colors-gest';
@import '../base/fonts';

@mixin button($height: 40px) {
  $border-radius: #{round($height / 2)};
  $padding-width: #{round($height / 6)};
  $font-size: #{round($height * 4 / 6)};

  @include font-text;

  background: tint($color-blue, 20%) !important;
  border: solid tint($color-blue, 10%) 1px !important;
  border-radius: $border-radius;
  color: $color-white !important;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size;
  padding: $padding-width;
  text-align: center;
  text-decoration: none !important;

  & > * {
    background: transparent !important;
    text-decoration: none !important;
  }

  &:hover {
    background: shade($color-blue, 10%) !important;
    border: solid tint($color-blue, 10%) 1px !important;
    border-radius: $border-radius;
    text-decoration: underline !important;
  }

  &:hover > * {
    background: transparent !important;
    text-decoration: underline !important;
  }
}
