@charset "UTF-8";

@import '../mixins/button';

/* --------------------------------------------------[+ cookie-notice.scss +] */
/*
 * CSS-Anpassungen für:
 *
 * Plugin: Cookie Notice for GDPR & CCPA
 * URL: https://de.wordpress.org/plugins/cookie-notice/
 */

#cookie-notice {
  background: rgba(0, 0, 0, 0.75) !important;
  z-index: 999950 !important;

  .cn-button {
    @include button(20px);
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: none;
    text-transform: initial;
  }
}

@media print {
  #cookie-notice {
    display: none;
  }
}

/* --------------------------------------------------[- cookie-notice.scss -] */
