@charset "UTF-8";

@import '../base/colors-gest';
@import '../mixins/button';
@import '../mixins/post-preview';

/* --------------------------------------------[+ the_events_calendar.scss +] */
/*
 * CSS-Anpassungen für:
 *
 * Plugin: The Events Calendar
 * URL: https://de.wordpress.org/plugins/the-events-calendar/
 */

@import 'src/scss/base/colors-neve';

.single-tribe_events .tribe-events-event-meta {
  display: flex;
}

.tribe-events-event-meta .tribe-events-meta-group {
  flex-grow: 100;
}

.tribe-events-view,
#tribe-events-pg-template,
.tribe-events-pg-template {
  background-color: map-neve-color(#fff);
  margin-left: auto;
  margin-right: auto;
  max-width: 748px;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
}

.tribe-events-content {
  /* Fixes extra styling of links which collides with Visual Identity. */
  a {
    border-bottom: unset !important;
    color: map-neve-color(#0366d6) !important;
    transition: unset;
  }

  /* Fixes missing indent for lists in event content. */
  ol,
  ul {
    padding: 0 0 0 20px;
  }
}

@media (min-width: 576px) {
  .tribe-events-view,
  #tribe-events-pg-template,
  .tribe-events-pg-template {
    max-width: 992px;
  }
}
@media (min-width: 960px) {
  .tribe-events-view,
  #tribe-events-pg-template,
  .tribe-events-pg-template {
    max-width: 1170px;
  }
}

@media print {
  .tribe-events-c-events-bar,
  .tribe-events-c-top-bar,
  .tribe-events-c-nav,
  .tribe-events-c-ical {
    display: none !important;
  }

  .tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    min-height: unset;
    padding-bottom: 0;
    padding-top: 0;
  }

  .tribe-common--breakpoint-medium.tribe-common .tribe-common-l-container {
    padding-left: 0;
    padding-right: 0;
  }

  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-details {
    width: 100%;
  }

  // Kategorieüberschrift
  .tribe-common--breakpoint-medium.tribe-events {
    .tribe-events-c-breadcrumbs {
      margin-bottom: 1em;
    }

    .tribe-events-c-breadcrumbs__list {
      font-size: 12pt;
      line-height: 1.1;
    }
  }

  .tribe-common--breakpoint-medium.tribe-common {
    // Eventüberschrift
    .tribe-common-h4--min-medium {
      font-size: 10pt;
      line-height: 1.2;
    }

    // Monatsbegrenzung
    .tribe-common-h6--min-medium {
      font-size: 10pt;
      line-height: 1.1;
    }

    // Datumszeile und Eventtext
    .tribe-common-b2 {
      font-size: 9pt;
      line-height: 1;
    }
  }

  .tribe-common--breakpoint-medium.tribe-events {
    // Abstände zwischen Terminen
    .tribe-events-calendar-list__event-row {
      margin-bottom: 8px;
      margin-left: -24px;
      margin-right: -24px;
      margin-top: 8px !important;
    }

    // Abstand Event-Titel und -Beschreibung
    .tribe-events-calendar-list__event-venue {
      margin-bottom: 2px;
    }

    // Abstand Event-Titel und -Beschreibung
    .tribe-events-calendar-list__event-description {
      margin-top: 2px;
    }

    .tribe-events-calendar-list__event-row:last-child {
      margin-bottom: 10px;
    }

    .tribe-events-calendar-list__event-datetime-wrapper,
    .tribe-events-calendar-list__event-title {
      margin: 0 0 2px;
    }

    .tribe-events-calendar-list__event-datetime {
      font-size: 7pt;
    }

    // Empfohlen Text (GEST-Sitzungen) ausblenden.
    .tribe-events-calendar-list__event-datetime-featured-text {
      display: none;
    }

    // Abstand Datumsspalte zu Terminspalte
    .tribe-events-calendar-list__event-date-tag {
      min-width: 90px;
      width: unset;
    }
  }

  .tribe-events .tribe-events-calendar-list__event-date-tag-weekday {
    line-height: unset;
  }
}

/* --------------------------------------------[- the_events_calendar.scss .] */
