@charset "UTF-8";

@import '../base/colors-gest';
@import '../mixins/button';
@import '../mixins/post-preview';

/* --------------------------------------------[+ the_events_calendar.scss +] */
/*
 * CSS-Anpassungen für:
 *
 * Plugin: The Events Calendar
 * URL: https://de.wordpress.org/plugins/the-events-calendar/
 */

@import 'src/scss/base/colors-neve';

.single-tribe_events .tribe-events-event-meta {
  display: flex;
}

.tribe-events-event-meta .tribe-events-meta-group {
  flex-grow: 100;
}

.tribe-events-view,
#tribe-events-pg-template,
.tribe-events-pg-template {
  background-color: map-neve-color(#fff);
  margin-left: auto;
  margin-right: auto;
  max-width: 748px;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
}

@media (min-width: 576px) {
  .tribe-events-view,
  #tribe-events-pg-template,
  .tribe-events-pg-template {
    max-width: 992px;
  }
}
@media (min-width: 960px) {
  .tribe-events-view,
  #tribe-events-pg-template,
  .tribe-events-pg-template {
    max-width: 1170px;
  }
}

/* --------------------------------------------[- the_events_calendar.scss .] */
