@charset "UTF-8";

@import 'src/scss/base/colors-gest';
@import '../mixins/button';
@import '../mixins/post-preview';

/* ------------------------------------------------------------[+ uag.scss +] */
/*
 * CSS-Anpassungen für:
 *
 * Plugin: Gutenberg Blocks – Ultimate Addons for Gutenberg
 * URL: https://de.wordpress.org/plugins/ultimate-addons-for-gutenberg/
 */

.uagb-post__cta {
  background: transparent !important;
  text-align: right;
  width: 100%;

  .uagb-post__link {
    @include button(24px);
  }
}

.uagb-post__inner-wrap {
  @include post-preview;
}

.uagb-infobox__outer-wrap {
  $border-radius: 12px;

  background: shade($color-white, 5%) !important;
  border-radius: $border-radius;
  margin: 24px;
  overflow: hidden;
  padding: 24px;
}

.uagb-infobox-left {
  text-align: justify;
}

.wp-block-uagb-table-of-contents {
  .uagb-toc__wrap {
    $border-radius: 12px;

    background: transparent;
    border: 2px solid tint($color-black, 80%);
    border-bottom: 2px transparent;
    border-radius: $border-radius;
    border-top: 2px transparent;
  }
}

.wp-block-uagb-blockquote {
  margin-bottom: 1em;
  margin-top: 1em;

  .uagb-blockquote__content {
    font-style: italic;
  }

  .uagb-blockquote a {
    text-decoration: none !important;
  }
}

// Format für Team-Mitglieder (etwa: Über uns/Vorstand)
.uagb-team__outer-wrap {
  .uagb-team__social-icon {
    margin-left: 0 !important;
    margin-right: 0 !important;

    a {
      display: inline-block;
      margin-left: 0;
      margin-right: 20px;

      // Entferne die Markierung von externen Links in dieser Darstellung.
      .wpel-icon {
        display: none !important;
      }
    }

    // Social Media Links verstecken, die keine gültige URL enthalten.
    a:not([href^='http']) {
      display: none;
    }
  }
}

@media print {
  .uagb-post__inner-wrap {
    background: unset !important;
  }

  .uagb-slick-carousel .slick-prev,
  .uagb-slick-carousel .slick-next,
  .wp-block-uagb-table-of-contents {
    display: none !important;
  }

  .uagb-infobox__outer-wrap {
    background: unset !important;
    border: 2px solid tint($color-black, 80%);
  }

  .uagb-post-grid {
    padding: 0;
    width: 100%;

    .slick-dots {
      display: none !important;
    }

    .uagb-post__cta {
      display: none !important;
    }
  }
}

/* ------------------------------------------------------------[- uag.scss -] */
