@charset "UTF-8";

@import '../base/colors_gest';
@import '../mixins/button';
@import '../mixins/post_preview';

.uagb-post__cta {
  background: transparent !important;
  width: 100%;
  text-align: right;

  .uagb-post__link {
    @include button(24px);
  }
}

.uagb-post__inner-wrap {
  @include post_preview;
}

.uagb-infobox__outer-wrap {
  $border-radius: 12px;

  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;

  padding: 24px;

  margin: 24px;

  background: shade($color-white, 5%) !important;
  overflow: hidden;
}

.uagb-infobox-left {
  text-align: justify;
}

.wp-block-uagb-table-of-contents {
  .uagb-toc__wrap {
    $border-radius: 12px;

    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    border:2px solid tint($color-black, 80%);
    border-top: none;
    border-bottom: none;
    background: transparent;
  }
}

@media print {
  .uagb-post__inner-wrap {
    background: unset !important;
  }

  .uagb-slick-carousel .slick-prev, .uagb-slick-carousel .slick-next, .wp-block-uagb-table-of-contents {
    display: none !important;
  }

  .uagb-infobox__outer-wrap {
    border:2px solid tint($color-black, 80%);
    background: unset !important;
  }

  .uagb-post-grid {
    padding: 0;
    width: 100%;

    .slick-dots {
      display: none !important;
    }

    .uagb-post__cta {
      display: none !important;
    }
  }
}
