@charset "UTF-8";

@import '../base/colors-gest';
@import '../mixins/button';

/* ------------------------------------------------------[+ wordpress.scss +] */
/*
 * Generelle Anpassungen für WordPress.
 */

// Anpassung der Beitragsübersicht auf der Beitragsseite.
.wp-block-media-text {
  $border-radius: 12px;

  background: shade($color-white, 5%) !important;
  border-radius: $border-radius;
  justify-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  padding-left: 20px;

  .wp-block-media-text__content {
    padding-bottom: 0;
    padding-top: 20px;
  }

  & > figure > img,
  .wp-block-media-text > figure > video {
    max-width: 100%;
    width: initial;
  }
}

// Anpassungen für Bildblöcke in WordPress.
.wp-block-image {
  img {
    $border-radius: 12px;

    border-radius: $border-radius;
    display: block;
    margin: 0 auto;
  }

  figcaption {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.2em;
    padding-left: 24px;
    padding-right: 24px;
    text-align: justify;
  }
}

// Anpassung der Download-Buttons für die Downloads-Seite.
.wp-block-file {
  a.wp-block-file__button {
    @include button(20px);

    padding-left: 10px;
    padding-right: 10px;
  }
}

// Anpassung für Cover-Blöcke.
.wp-block-cover {
  $border-radius: 12px;

  border-radius: $border-radius;
  margin-bottom: 12px;
  overflow: hidden;

  // Chrome hat Probleme mit fixed Backgrounds und Kantenrundungen:
  // An bestimmten Scrollpositionen streckt sich das Bild ungewollt.
  // Aus diesem Grund wird für Parallax-Cover die Kantenrundung
  // unterdrückt.
  &.wp-block-cover.has-parallax {
    border-radius: unset;
  }
}

@media print {
  // Stellt sicher, dass Cover-Bilder bei der Print-Ausgabe korrekt
  // angezeigt werden.
  .wp-block-cover {
    background-attachment: unset !important;
    background-position-x: unset !important;
    background-position-y: unset !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    width: 100%;

    &.has-background-dim {
      background-color: transparent !important;
      opacity: unset;
    }
  }
}

/* ------------------------------------------------------[- wordpress.scss -] */
