@charset "UTF-8";

/* -----------------------------------------------------[+ wpadminbar.scss +] */
/*
 * Anpassungen speziell für die Admin-Bar von WordPress.
 */

@media (max-width: 600px) {
  // Admin Bar Icons in der mobilen Ansicht auf das nötigste reduzieren.
  // Da Plugins u. U. Elemente hinzufügen, wird hier eine Whitelist
  // verwendet.
  #wpadminbar li[id*='wp-admin-bar'] {
    display: none !important;
  }

  #wpadminbar {
    max-width: fit-content;
    min-width: 46px !important;
    position: absolute;
    top: 0;
  }

  #wp-admin-bar-edit {
    display: initial !important;
  }

  // Entfernen des eigenartigen Margins bei kleinen Bildschirmen.
  html,
  body {
    margin-top: 0 !important;
  }
}

@media (max-width: 1108px) {
  // Blendet insbesondere Zusatzelemente durch Plugins auf zu kleinen Bildschirmen aus.
  #wp-admin-bar-top-secondary {
    display: none !important;
  }
}

@media print {
  #wpadminbar {
    display: none !important;
  }
}

/* -----------------------------------------------------[- wpadminbar.scss -] */
