@charset "UTF-8";

@import '../mixins/button';

/* --------------------------------------------------------[+ wpforms.scss +] */
/*
 * CSS-Anpassungen für:
 *
 * Plugin: Contact Form by WPForms – Drag & Drop Form Builder for WordPress
 * URL: https://de.wordpress.org/plugins/wpforms-lite/
 */

div.wpforms-container-full .wpforms-form input[type=submit],
div.wpforms-container-full .wpforms-form button[type=submit],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
  @include button(28px);
  padding-left: 12px;
  padding-right: 12px;
}

@media print {
  .wpforms-form {
    .wpforms-recaptcha-container,
    button[type=submit] {
      display: none !important;
    }
  }

  // Kein Formular im Ausdruck anzeigen.
  .wpforms-container {
    * {
      display: none !important;
    }

    &::after {
      content: '[Formular für den Ausdruck unterdrückt.]';
    }
  }
}

/* --------------------------------------------------------[- wpforms.scss -] */
